# STRINGS AS LISTS
#### Strings are immutable that is once assigned a string value can not be changed
#### NOTE: A string characters are a list/ A string is a list of characters

In [1]:
# when we want to collect user input we use the function input()
# this provides a box where the user can fill in their inputs and prints out the user input

input('What would you like to order today? ')

What would you like to order today? Rice

'Rice'

In [2]:
#Say you want to order American Chopsuey and store it in a variable order
order = input('What would you like to order today? ')

What would you like to order today? American Chopsuey

In [3]:
order

'American Chopsuey'

In [4]:
# to see if string are lists we use the list notation to find the item in index 0
order[0]

'A'

In [5]:
#lets try to change the value in index 0
# we proof Strings are immutable that is once assigned a string value can not be changed.
order[0] = 'B'

TypeError: 'str' object does not support item assignment

In [6]:
#lets find the first 5 letters of the variable order
order[:5]

'Ameri'

In [7]:
# lets return all values of the order variable exept the last character 
order[:-1]

'American Chopsue'

## NOTE
If only stop is provided, it generates portion of sequence from index 0 till stop .

If only start is provided, it generates portion of sequence after index start till last element.

If both start and stop are provided, it generates portion of sequence after index start till stop .

If all three start , stop and step are provided, it generates portion of sequence after index start till stop with increment of index step.
 We can also give step to the slice.slice(start:stop[:step]). 
The value of the step parameter (or None if not provided). It cannot be 0.
Step of 2 will take every 2nd element starting from the 1st element of the list. 
Step of 3 will take every 3rd element.
Step of -1 will reverse the list.

In [8]:
#lets see this example
c = [1,2,3,4,5]
b = c[::2]
print(b)
print(c[::3])
print(c[::-1])

[1, 3, 5]
[1, 4]
[5, 4, 3, 2, 1]

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[:5])    # prints [1, 2, 3, 4, 5]
print(a[2:])    # prints [3, 4, 5, 6, 7, 8]
print(a[2:5])    # prints [3, 4, 5]
print(a[2:7:2])    # prints [3, 5, 7]

[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7, 8]
[3, 4, 5]
[3, 5, 7]

In [10]:
# a step of one returns all values
order[0:8:1]

'American'

In [11]:
order[0:8:2]

'Aeia'

In [12]:
order[0:8:3]

'Ara'

In [13]:
order[::1]

'American Chopsuey'

In [14]:
order[::2]

'Aeia hpuy'

In [15]:
order[::-1]

'yeuspohC naciremA'

In [16]:
# cyhecking the length of order
len(order)

17

In [17]:
#python is case sensitive
# in our list we dont have Y we have y
order.index('Y')

ValueError: substring not found

In [18]:
# finding the index of a character
order.index('C')

9

In [19]:
# to know how many times a letter appears in our order
order.count('e')

2

In [20]:
# to change our order to lowercase
lower = order.lower()

lower

'american chopsuey'

In [21]:
# to change our order to uppercase
upper = order.upper()

upper

'AMERICAN CHOPSUEY'

In [22]:
# to capitalize the very first letter of our order
capitlize = lower.capitalize()
capitlize

'American chopsuey'

In [23]:
# to convert to a title case
title = lower.title()
title

'American Chopsuey'

In [24]:
# to chect if our order starts with the letter American
print(order.startswith('American'))

True

In [25]:
# does it end with y?
print(order.endswith('y'))

True

## Split in lists
This splits a string into a list where each word is a list item

In [26]:
tokens = order.split()
tokens

['American', 'Chopsuey']

In [27]:
# split based on the , delimeter
line_in_csv = "Ravi,30,40,56,78"

csv_tokens = line_in_csv.split(',')

csv_tokens

['Ravi', '30', '40', '56', '78']

In [28]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [29]:
#Split the string, using comma, followed by a space, as a separator:
txt2 = "hello, my name is Peter, I am 26 years old"

x = txt2.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

## To join a split string

In [30]:
separator = ","

separator.join(csv_tokens)

'Ravi,30,40,56,78'

In [31]:
"".join(txt)

'welcome to the jungle'

In [32]:
"".join(txt2)

'hello, my name is Peter, I am 26 years old'