# DICTIONARIES
They are used as records. They are easy to use as compared to tuples and hence used often. It contains any type of data type, A dictionary is not ordered

A dictionary consist of a key and a value. Dictionary = {Key:Value}. A key should be any data type that is immutable that is it could be a tuple, boolean, number, string.
[] is for a list, () for a tuple and {} for a dictionary

In [1]:
# an empty list
empty_dict = {}

In [2]:
#here we have a list with keys John, Rick, Jane and Natasha 
#Each is assigned values Jill, Nina, George and Fred respectively
couples = {
    "John": "Jill", 
    "Rick": "Nina",
    "Jane": "George",
    "Natasha": "Fred"
}

In [3]:
#we access values in dictionaries using keys
#say we want to access Jane we use the Key John
#remember John is a string and needs to be in ""
couples["John"]

'Jill'

In [4]:
couples["Jane"]

'George'

In [5]:
# what if the key is not in the dictionary
# you get a key error
couples["Lauren"]

KeyError: 'Lauren'

In [6]:
# dictionaries are mutable so they can be modified
couples["John"] = "Barbara"

In [7]:
couples

{'Jane': 'George', 'John': 'Barbara', 'Natasha': 'Fred', 'Rick': 'Nina'}

In [8]:
# adictionary with numbers
math_scores = {
    "Ram": 97, 
    "Kumar": 35,
    "Kishan": 67,
    "Natasha": 73
}

In [9]:
# to access the dictionary keys
math_scores.keys()

dict_keys(['Kumar', 'Kishan', 'Natasha', 'Ram'])

In [10]:
#to access dictionary values
math_scores.values()

dict_values([35, 67, 73, 97])

In [11]:
student_details = {
    'name': 'Ubaid',
    'score': 45,
    'phone': '9934590873'
}

In [12]:
student_details

{'name': 'Ubaid', 'phone': '9934590873', 'score': 45}

In [13]:
student_details.keys()

dict_keys(['score', 'name', 'phone'])

In [14]:
# to get the length of the dictionary
len(student_details.keys())

3

In [15]:
student_details.values()

dict_values([45, 'Ubaid', '9934590873'])

In [16]:
# a dictionary with lists
# the values are lists
all_scores = {
    "Ram": [93, 44, 56], 
    "Kumar": [53, 53, 22],
    "Kishan": [87, 20, 45],
    "Natasha": [74, 6, 55]
}

In [17]:
# to access Ram's scores
all_scores["Ram"]

[93, 44, 56]

In [18]:
# to modify Ram's scores
all_scores["Ram"][1] = 55

In [19]:
all_scores["Ram"]

[93, 55, 56]

In [20]:
# maybe we want to specify what the scores represent say subjects
# a dictionary with dicionnaries as values
# a dictionary within a dictionary is called a nested dictionary
all_scores = {
    "Ram": {'math': 93, 'science': 44, 'english': 56}, 
    "Kumar": {'math': 53, 'science': 53, 'english': 22},
    "Kishan": {'math': 87, 'science': 20, 'english': 45},
    "Natasha": {'math': 74, 'science': 6, 'english': 55},
}

In [21]:
# lets see what Kishan has in the three subjects
all_scores["Kishan"]

{'english': 45, 'math': 87, 'science': 20}

In [22]:
# suppose we only want the math score
all_scores["Kishan"]["math"]

87

In [23]:
# lets fins Natasha's geography score but we don't have geograpy in our dictionary
# you get a keyerror
all_scores["Natasha"]["geography"]

KeyError: 'geography'

In [24]:
# a number as a key
student_details = {
    123: {'name': 'Ram', 'score': 56, 'address': 'Noida'},
    362: {'name': 'Niti', 'score': 78, 'address': 'Hyderabad'},
    983: {'name': 'Pranay', 'score': 49, 'address': 'Bangalore'},
}

In [25]:
student_details[983]

{'address': 'Bangalore', 'name': 'Pranay', 'score': 49}

In [26]:
# a tuple as a key
student_details = {
    (123): {'name': 'Ram', 'score': 56, 'address': 'Noida'},
    (362): {'name': 'Niti', 'score': 78, 'address': 'Hyderabad'},
    (983): {'name': 'Pranay', 'score': 49, 'address': 'Bangalore'}
}

In [27]:
student_details[(362)]

{'address': 'Hyderabad', 'name': 'Niti', 'score': 78}

In [28]:
# lets try a list as a key
# we get an error:unhashable type: 'list' because list are mutable and so are dictionaries
student_details = {
    [123]: {'name': 'Ram', 'score': 56, 'address': 'Noida'},
    [362]: {'name': 'Niti', 'score': 78, 'address': 'Hyderabad'},
    [983]: {'name': 'Pranay', 'score': 49, 'address': 'Bangalore'}
}

TypeError: unhashable type: 'list'

## Methods on dictionaries

In [29]:
student_details = {
    'name': 'Ubaid',
    'score': 45,
    'phone': '9934590873'

}

In [30]:
# to make a copy of a dictionary
student_details_copy = student_details.copy()

##### Note: a change in the copy or the origina dictionary does not affect the other

In [31]:
#making a copy
student_details_copy['score'] = 100

In [32]:
# the original copy
student_details

{'name': 'Ubaid', 'phone': '9934590873', 'score': 45}

In [33]:
# dictionary copy
student_details_copy

{'name': 'Ubaid', 'phone': '9934590873', 'score': 100}

In [34]:
# to clear a dictionary or empty all the contents in the dictionary
student_details_copy.clear()

student_details_copy

{}

In [35]:
# to get dictionary contents as tuples
# change a dictionary to a tuple
student_details.items()

dict_items([('score', 45), ('name', 'Ubaid'), ('phone', '9934590873')])

In [36]:
# to access the values in the tuple we use .get()
student_details.get('name')

'Ubaid'

In [37]:
# to remove a specific value in the dictionary say score value
student_details.pop('score')

student_details

{'name': 'Ubaid', 'phone': '9934590873'}

In [38]:
# to remove a random value in the dictionary 
student_details.popitem()

student_details

{'phone': '9934590873'}

In [39]:
# original dictionary before poping values
student_details = {
    'name': 'Ubaid',
    'score': 45,
    'phone': '9934590873'
}