### Variables are containers of values or conatiners that hold values
#### Variables can hold any data type in other words anything eg boolean, strings, integers, lists, floats e.t.c.

#### Numbers Variables

In [1]:
3.14159

3.14159

In [2]:
3.14159 * 10 ** 2

314.159

In [3]:
3.14159 * 3 ** 2

28.27431

In [4]:
#a variable pi holding the value 3.14159
pi = 3.14159

In [5]:
# to calculate the area of a circle we use pi instead of 3.14159
pi * 3 ** 2

28.27431

In [6]:
#whe can have anither variable radius holding value 10
radius = 10

In [7]:
#calculating the area of a circle with pi pi and radious 10 we do
pi * radius ** 2

314.159

In [8]:
pi * radius ** 2

314.159

In [9]:
# we can also hold the pi and radious in a variable area
area = pi * radius ** 2

In [10]:
#everytime we call or print the value area python returns the value of pi*radious**2
area

314.159

In [11]:
# we can print the string Area of a circle and the value of are
# The space between the : and " is to separate the string from the value of area as shown
print("Area of a circle: ", area)

Area of a circle:  314.159

In [12]:
# we can also include the radious of the circle as shown
print("Area of a circle with radius", radius, "is", area)

Area of a circle with radius 10 is 314.159

In [13]:
# we are not limited to how many variable we could have in our code
a = 3
b = 4
c = 5
d = 23
e = 55

In [14]:
# instead of the basic calculation we can put the operations in a avaraile total
total = ((a + b) * (c + d)) / e

In [15]:
total

3.5636363636363635

In [16]:
#here we round of the value of total which is round 3.5636363636363635 to the nearest whole number
(total)

3.5636363636363635

In [17]:
#we can also do this
round(((a + b) * (c + d)) / e)

4

#### Boolean Variables

In [18]:
# we can also contain boolean values in a variable
active_a = True

In [19]:
active_b = False

In [20]:
#we can peerform logical operations and store that opeartion in a variable
#If active_a is ture and also active_b is true then the output will be true esle the output is false
active_a_and_b = active_a and active_b

active_a_and_b

False

In [21]:
#If active_a is false and also active_b is false then the output will be false esle the output is true
active_a_or_b = active_b or active_b

active_a_or_b

False

In [22]:
#to change false int true we use not before boolean false that is not false and vice verse
not_active_a = not active_a
not_active_b = not active_b

In [23]:
active_a, not_active_a

(True, False)

In [24]:
active_b, not_active_b

(False, True)

#### Strings Variables

In [25]:
# NOTE: strings should be sandwiched between "" or ''
string_variable = "Hello World"

In [26]:
string_variable

'Hello World'

In [27]:
# we can concantinate a variable conatininge a string with another string not contained in a variable
string_variable + " of Python"

'Hello World of Python'

In [28]:
another_string_variable = string_variable + " of Python"

In [29]:
another_string_variable

'Hello World of Python'

In [30]:
#finding the length of the variable string_variable
len(string_variable)

11

In [31]:
#finding the length of the variable another_string_variable
len(another_string_variable)

21

## NOTE:

In [32]:
"Strings are enclosed in double quotes"

'Strings are enclosed in double quotes'

In [33]:
'They can also be enclosed in single quotes'

'They can also be enclosed in single quotes'

In [34]:
"Double and " + 'single quotes ' + "are the same in Python"

'Double and single quotes are the same in Python'

In [35]:
#Variables don't contain spaces we use the underscore for spaces
# eg first_name NOT first name
# or we could name variable without space
#eg firstname not first name

In [36]:
singleWithinDoubleQuotes = "John's Car"

print(singleWithinDoubleQuotes)

John's Car

In [37]:
doubleWithinSingleQuotes = 'She said "How are you?"'

print(doubleWithinSingleQuotes)

She said "How are you?"

In [38]:
singleWithinSingleQuotes = 'John\'s Car'

print(singleWithinSingleQuotes)

John's Car

In [39]:
doubleWithinDoubleQuotes = "She said \"How are you?\""

print(doubleWithinDoubleQuotes)

She said "How are you?"

#### Manipulating numeric variables

In [40]:
# python first stores value as one
value = 1

value

1

In [41]:
#then adds one to value
value = value + 1

value

2

In [42]:
#here python adds 10 to our most recent value from when the code was run
#and so on till the last value contained in the variable
# and the outputs that value
#here it will output value which is 2+10+2+3+4+5
value = value + 10
value = value + 2
value = value + 3
value = value + 4
value = value + 5

value

26

In [43]:
#here it will take the last output of valu then subtract 4 and so on
value = value - 4

value

22

In [44]:
value = value * 2

value

44

In [45]:
value = value * 10

value

440

In [46]:
value = value / 4

value

110.0

In [47]:
#it takes 200 then adds 1
value += 1

value

111.0

In [48]:
value += 4

value

115.0

In [49]:
# takes the value of value then subtracts 5
value -= 5

value

110.0

In [50]:
# takes the value of value then multiplies by 2
value *= 2

value

220.0

In [51]:
# takes the value of value then divide by 5
value /= 5

value

44.0

#### Manipulating string variables

In [52]:
str_1 = "Hello! "

str_2 = "How are you?"

In [53]:
greeting = str_1 + str_2

greeting

'Hello! How are you?'

In [54]:
greeting = str_1 + str_2 + str_1

greeting

'Hello! How are you?Hello! '

In [55]:
greeting = 2 * str_1 + str_2

greeting

'Hello! Hello! How are you?'

In [56]:
greeting = (str_1 + str_2 + " ") * 4

greeting

'Hello! How are you? Hello! How are you? Hello! How are you? Hello! How are you? '

In [57]:
greeting = "Namaste!"

greeting = greeting + greeting + greeting

In [58]:
greeting

'Namaste!Namaste!Namaste!'

# NOTE:

### NOTE: Python evaluates using the last output of that given variable. 
### say, we executed the value of variable car as 1 then run car= car+2 then car = car +4 the last output of car is 7
### when we call car + car it will give us 14 ie 7+7
### this is also true for strings say we run a variable dog with string brown then dog= "yellow" then dog = "blue" then we call
### or run dog + str(black) the output will be blueblack