# Tuples

Tuples are ordered colletions and can contain any data type, both primitive and complex. 
They are used as records.
We can apply the same operations we apply on lists to tuples including slicing.
The difference between tuples and lists is that tuoles are immutable.
You can also change a list to a tuple

In [1]:
# in tuples we use () instead of []
my_tuple = ('Kishore', 90)

my_tuple

('Kishore', 90)

In [2]:
#we access values in a tuple using index just like in lists
my_tuple[0]

'Kishore'

In [3]:
my_tuple[1]

90

In [4]:
# to propf that tuples are immutable and can not be modified once assigned
#you get a typeerro: 'tuple' object does not support item assignment
my_tuple[0] = 'Ram'

TypeError: 'tuple' object does not support item assignment

## Unpacking a tuple
We can assign tuples values to variables

In [5]:
# my_tuple has two values a string and a number
# suppose we say the string represents a name and the number a score 
# this is how we assign name and score to those respective values
name, score = my_tuple

In [6]:
# Here instead of using indexing we accesses the first item in our tuple using name
name

'Kishore'

In [7]:
# the same goes for score for the second item
score

90

In [8]:
# a tuple with many fields
tuple_with_many_fields = (1, 'Nimisha', 'Venkat', 'Matthew', 45)

In [9]:
# assigning variables to our tuple values
# note that we have _ parameter
# the _ paramter is a special character in python
# Assigning this character means ignore the value that is assigned to it
unique_id, girl_name, boy_name, _, _ = tuple_with_many_fields

In [10]:
unique_id, girl_name, boy_name

(1, 'Nimisha', 'Venkat')

## Indexing
If you have mastered using indexing in lists in our 5th demo then it is the same as in tuples

In [11]:
number_tuple = (2, 4, 7, 5, 9, 1, 10)

In [12]:
# accessing the first two values
number_tuple[:2]

(2, 4)

In [13]:
#acces the values from the the second value till the second last value
#tuple[start:stop] this means return values from the start point but stop just before the stop point
number_tuple[2:-1]

(7, 5, 9, 1)

In [14]:
string_tuple = ("John", "Jim")

In [15]:
# we can concatinate tuples with +
all_tuple = number_tuple + string_tuple

all_tuple

(2, 4, 7, 5, 9, 1, 10, 'John', 'Jim')

In [16]:
# we can perform other mathematical operations on tuples
print(("Hello") * 4)

HelloHelloHelloHello

## Slicing
Tuples slicing is the same as the list slicing.
If you haven't gone through the Demo5 on strings as list suggest you do so
Click on the link below:
https://github.com/MercyMueniMwangi/Master-Python-for-Data-Science-and-Machine-Learning-EduGrad/blob/master/Demo5_StringsasLists.ipynb
and also Demo4 on lists
https://github.com/MercyMueniMwangi/Master-Python-for-Data-Science-and-Machine-Learning-EduGrad/blob/master/Demo4_Lists.ipynb

In [17]:
number_tuple[1:]

(4, 7, 5, 9, 1, 10)

In [18]:
#reversing the values in our tuple
number_tuple[::-1]

(10, 1, 9, 5, 7, 4, 2)

In [19]:
number_tuple[:3]

(2, 4, 7)

In [20]:
# here we add a step 
number_tuple[1::2]

(4, 5, 1)

## Other Operation on a tuple

In [21]:
# the lenght of the tuple
len(number_tuple)

7

In [22]:
# the maximum value in the tuple
max(number_tuple)

10

In [23]:
#the sum of our tuple
sum(number_tuple)

38

Note: we can change a list to a tuple
    see the exmple below

In [24]:
some_list = ['A', 'B', 'C']

some_tuple = tuple(some_list)

In [25]:
some_tuple = tuple(some_list)

In [26]:
some_tuple

('A', 'B', 'C')

Note: we can also change a tuple into a list
    see the example below

In [27]:
list(some_tuple)

['A', 'B', 'C']