# For Loops
They help repeat action a certain number of times.  We use the for loops if we know how many times upfront we want to repeat the action.

In [1]:
tech_companies = ['Google', 'Apple', 'Facebook', 'Uber', 'Intel']

In [2]:
print(tech_companies)

['Google', 'Apple', 'Facebook', 'Uber', 'Intel']

In [3]:
#suppose we want to print each company one after the other in the right order
#this iterates through every element in the list
for company in tech_companies:
    print(company)

Google
Apple
Facebook
Uber
Intel

In [4]:
# waht if we have a list of numbers
some_numbers = [10, 20, 30, 40, 50]

In [5]:
# Here we print each number one after the other in the right order
for num in some_numbers:
    print('The number is: ', num)

The number is:  10
The number is:  20
The number is:  30
The number is:  40
The number is:  50

In [6]:
# lets initialize our tatol to 0
total = 0

for num in some_numbers:
    total = total + num #this means take the total of the first iteration and the add to the current number
    # That is in the first iteration we will have 0+10 =10
    # the second iteration will be the total in iteration one plus the second element in the list 10+20 = 30
    # the third iteration will be the total in iteration two plus the third element in the list 30+30 = 60
    # the fourth iteration will be the total in iteration three plus the fourth element in the list 60+40 =100 and so on
    print('The current value of total is: ', total)

The current value of total is:  10
The current value of total is:  30
The current value of total is:  60
The current value of total is:  100
The current value of total is:  150

In [7]:
# what if we want to print the last iteration alone
total = 0

for num in some_numbers:
    total = total + num

print('The total of all numbers: ', total) #take note of the indentation of the print statement. It is not within the for block

The total of all numbers:  150

In [8]:
# initializing the total to 100
total = 100

for num in some_numbers:
    total = total + num

print('The total of all numbers (initial value set to 100): ', total)

The total of all numbers (initial value set to 100):  250

In [9]:
# we can also do the count of the elements in our list
count = 0

for num in some_numbers:
    count = count + 1
    
print('The total length of the array is: ', count)

The total length of the array is:  5

## Range
This generates a number or element within a given range
range(0,5) = range (5) where five is not inclusive

In [10]:
range(5)

range(0, 5)

In [11]:
# this for lop print values from 0 to 4 one after the other
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# lets add a step
#To learn more about step visit this link
# https://github.com/MercyMueniMwangi/Master-Python-for-Data-Science-and-Machine-Learning-EduGrad/blob/master/Demo5_StringsasLists.ipynb
for number in range(0,20,2):
    print(number)

0
2
4
6
8
10
12
14
16
18

In [14]:
# lets reverse our for loop
for i in range(10,0,-2):
   print(i)

10
8
6
4
2

### For Loops and Dictionaries

In [15]:
math_scores = {
    "Ram": 97, 
    "Kumar": 35,
    "Kishan": 67,
    "Natasha": 73
}

In [16]:
# to extract each key one after the other
for item in math_scores:
    print(item)
    
# to extract the last key alone
print('This retains the value of the last item in the list', item)

Kishan
Kumar
Ram
Natasha
This retains the value of the last item in the list Natasha

In [17]:
# to extract each key one after the other using the .keys() function
for key in math_scores.keys():
    print(key)
# to extract the last key alone using the .keys() function    
print('This retains the value of the last item in the list', key)

Kishan
Kumar
Ram
Natasha
This retains the value of the last item in the list Natasha

In [18]:
# to extract each value one after the other using the .values() function
for val in math_scores.values():
    print(val)

67
35
97
73

In [19]:
# to extract each key and the value of that key one after the other 
for key in math_scores:
    print('Key: ', key, math_scores[key])

Key:  Kishan 67
Key:  Kumar 35
Key:  Ram 97
Key:  Natasha 73

In [20]:
# to extract each key and the value of that key one after the other using .items() fucntion
# this returns a tuple
for item in math_scores.items():
    print(item)

('Kishan', 67)
('Kumar', 35)
('Ram', 97)
('Natasha', 73)

In [21]:
# to extract each key and the value of that key one after the other using .items() fucntion but not as a tuple
for key, value in math_scores.items():
    print(key, value)

Kishan 67
Kumar 35
Ram 97
Natasha 73

## Breaking out of a loop
Here we use break. This is used to break out a loop. The loop comes out of the loop without completing all iterations

In [22]:
# lets break our loop after printing the first element
for i in range(5):
    print(i)
    break

0

In [23]:
# lets break the loop where i is equavalent to 3
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [24]:
# Note the difference between this loop breaking and the next
# this breaks after printing 6 and the other after 5
# here the print statement comes before the condition breaking the loop
# it gets the value of 6 rhen evaluates to find if it is greater than 5 then breaks
for i in range(10):
    print(i)
    if i > 5:
        break

0
1
2
3
4
5
6

In [25]:
# here the print statement comes after the break statement in the if block
# first it evaluates if i is greater than five breaks first
# We first evaluate the condition first then print
for i in range(10):
    if i > 5:
        break
    print(i)

0
1
2
3
4
5

In [26]:
# here we break the loop ata point when the i is divisible by five
for i in range(1, 10):
    if i % 5 == 0:
        break
    print(i)

1
2
3
4

In [27]:
# breaking the company list at uber
# if the company is uber break dont print any other companies after that
# but also print the last uber company as unlisted
# when the if condition is met break
for company in tech_companies:
    print(company)
    if company == 'Uber':
        print('This company is not listed yet: ', company)
        break

Google
Apple
Facebook
Uber
This company is not listed yet:  Uber

## Continue statements
 Skips the current iteration or the itaration that meets the given if condition then goes back to the begining of  the next iteration

In [28]:
for company in tech_companies:
    if company == 'Uber':
        print("This company is not listed")
        continue
    print(company)

Google
Apple
Facebook
This company is not listed
Intel

In [29]:
for i in range(1, 8):
    print()
    print('Before continue statement: ', i)
    if i % 2 == 0:# this means skip the iteration where the value is divisible by two
        continue
    print('AFTER continue statement: ', i)

Before continue statement:  1
AFTER continue statement:  1

Before continue statement:  2

Before continue statement:  3
AFTER continue statement:  3

Before continue statement:  4

Before continue statement:  5
AFTER continue statement:  5

Before continue statement:  6

Before continue statement:  7
AFTER continue statement:  7

In [30]:
# this means if the given value between 1 and 31 is divisible by 5 print it else skip it
for i in range(1, 31):
    if i % 5 == 0:
        print('Multiple of 5: ', i)
    else:
        continue
    print('Yes!')

Multiple of 5:  5
Yes!
Multiple of 5:  10
Yes!
Multiple of 5:  15
Yes!
Multiple of 5:  20
Yes!
Multiple of 5:  25
Yes!
Multiple of 5:  30
Yes!

## Nested loops
This is ussualy a loop within another loop. That is we have an outer and inner loop.

In [31]:
for i in range(1, 5): #outer loop

    for j in ['a', 'b', 'c', 'd']:# inner loop
        
        print(i, j) # this means in each iteration of an element of the oter loop execute the inner loop completely

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d
3 a
3 b
3 c
3 d
4 a
4 b
4 c
4 d

In [32]:
# this is another example
#https://www.digitalocean.com/community/tutorials/how-to-construct-for-loops-in-python-3
# first print the first number in num_list then execute letters in alpha_list one after another
# second print the second number in num_list then execute letters in alpha_list one after another and so on
num_list = [1, 2, 3]
alpha_list = ['a', 'b', 'c']

for number in num_list:
    print(number) 
    for letter in alpha_list:
        print(letter)

1
a
b
c
2
a
b
c
3
a
b
c

In [33]:
#se a for loop to construct a list from scratch
Number = []

for i in range(20):
   Number.append(i)

print(Number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
# iterate through strings
name = "Mombasa Kenya"
for letter in name:
    print(letter)

M
o
m
b
a
s
a

K
e
n
y
a